/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	* {
		font-size: 15px;
	}

	.section-title {
		font: Bold 28px/40px MontserratBold, 'Sans-serif' !important;

		span {
			width: 80px;
			margin-bottom: 12px;
		}

		&::after {
			margin-bottom: 0;
		}

	}

	.section-sub-title {
		font: bold 16px/20px MontserratRegular, 'Sans-serif' !important;
	}

	#bannerArea {
		.item {
			height: 440px;
		}
	}

	#aboutArea {
		h4 {
			font: bold 16px/20px MontserratBold, 'Sans-serif' !important;
		}

		.backFace {
			img {
				border: 20px solid #fff;
			}

			&::after {
				display: none;
			}
		}
	}

	#contactArea {
		h4 {
			font: bold 16px/24px MontserratBold, 'Sans-serif' !important;
		}
	}

	#reviewArea {
		.card {
			.card-body {

				&::after,
				&::before {
					width: 65px;
					height: 65px;
				}
			}
		}
	}

	#blogArea {
		.card {
			min-height: 380px;
		}

		p {
			max-width: 100%;
		}
	}

	#faqsArea {
		.accordion-button {
			font: bold 18px/24px MontserratBold, 'Sans-serif';
		}

		img {
			max-height: 300px;
			width: 100%;
		}
	}

	#contentArea {
		.owl-dots {
			height: 25px;

			.owl-dot {
				width: 10px;
				height: 10px;

				&.active {
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	#mainGalleryArea {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;

		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	#servecardArea {
		.servecard {

			&:nth-child(even),
			&:nth-child(odd) {
				.row {
					.textBox {
						width: 100%;
					}
				}
			}
		}
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.section-title {
		font: Bold 32px/40px MontserratBold, 'Sans-serif' !important;

		span {
			width: 95px;
			margin-bottom: 12px;
		}

		&::after {
			margin-bottom: -3px;
		}

	}

	.section-sub-title {
		font: bold 20px/28px MontserratRegular, 'Sans-serif' !important;
	}

	#bannerArea {
		.item {
			height: 520px;
		}
	}

	#blogArea {
		.card {
			min-height: 380px;
		}

		p {
			max-width: 100%;
		}
	}

	#reviewArea {
		.card {
			.card-body {

				&::after,
				&::before {
					width: 65px;
					height: 65px;
				}
			}
		}
	}

	#mainGalleryArea {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;

		-webkit-column-gap: 15px;
		-moz-column-gap: 15px;
		column-gap: 15px;
	}

	#servecardArea {
		.servecard {

			&:nth-child(even) {
				.row {
					.textBox {
						position: absolute;
						inset: auto 15px 15px auto;
					}
				}
			}

			&:nth-child(odd) {
				.row {
					.textBox {
						position: absolute;
						inset: auto auto 15px 15px;
					}
				}
			}
		}
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#bannerArea {
		.item {
			height: 520px;
		}

		.text {
			max-width: 500px;
		}
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#bannerArea {
		.item {
			height: calc(100dvh - 155px);
			max-height: 1024px !important;
		}

		.text {
			max-width: 650px;
		}
	}

	#blogArea {
		p {
			max-width: 85%;
		}
	}

	#mainGalleryArea {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;

		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}

	#servecardArea {
		.servecard {
			&:nth-child(even) {
				.row {
					.textBox {
						inset: auto -40px 20px auto;
					}
				}
			}

			&:nth-child(odd) {
				.row {
					.textBox {
						inset: auto auto 20px -40px;
					}
				}
			}

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#bannerArea {
		.item {
			min-height: 720px;
		}
	}

	#footerArea {
		.container {
			.row {
				.col-12.col-md-6 {
					width: 30%;
				}

				.col-6.col-md-6 {
					width: 20%;
				}
			}
		}
	}

	#mainGalleryArea {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;

		-webkit-column-gap: 25px;
		-moz-column-gap: 25px;
		column-gap: 25px;
	}
}

/* Extra large devices (large desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
	#bannerArea {
		.item {
			min-height: 860px;
		}
	}
}