/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	* {
		font-size: 15px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#footerArea {
		.container {
			.row {
				.col-12.col-md-6 {
					width: 30%;
				}
				.col-6.col-md-6 {
					width: 20%;
				}
			}
		}
	}
}

/* Extra large devices (large desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {}